@font-face {
  font-family: "admin-font";
  src: url("Neon\ Rave.ttf");
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "admin-font";
  letter-spacing: 3px;
}

.container {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(monitor.png) no-repeat;
  background-position: center;
  background-size: 100% 100%;
  z-index: 10;
}

h1 {
  text-align: center;
  font-size: 6vmin;
}

.desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(desktopbg.jpg);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#logout {
  background-color: #003d60;
}

.login-container {
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.92);
  width: fit-content;
  padding: 10vmin;
  border-radius: 1rem;
  height: fit-content;
}

.login-container h1 {
  font-size: 9vmin;
  font-weight: normal;
  margin-top: 0;
  color: #0082ce;
}

.login-container h2 {
  font-size: 4vmin;
  font-weight: lighter;
}

.login input {
  outline: none;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  background: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "admin-font";
  color: #fff;
}

.login input:focus {
  border: 1px solid #0082ce;
  color: #0082ce;
}

.login-container button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: #000;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: 2px solid #fff;
}

button:hover {
  border: 2px solid #0082ce;
  color: #0082ce;
}

.admin-container {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  color: #fff;
}

.adminActive {
  border-bottom: 5px solid #0082ce !important;
}

.admin-tabs {
  width: 100%;
}

.admin-tabs ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.admin-tabs ul li {
  cursor: pointer;
  width: 35%;
  height: 100%;
  text-align: center;
  border-bottom: 5px solid transparent;
  padding: 1vmin;
}

.admin-tabs ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.admin-tabs ul li:hover {
  border-bottom: 5px solid #0082ce;
}

.admin-tabs ul li:hover > a {
  color: #0082ce;
}

.add-data {
  width: 100%;
  height: 100%;
  padding: 0.5% 1.5%;
}

.add-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-container button {
  margin-top: 5%;
  padding: 1%;
  background: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

.add-container button:hover {
  color: #0082ce;
  border-color: #0082ce;
}

.tbl-add {
  width: 90%;
  height: 10%;
}

#tableTitles {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style-type: none;
  border: 3px solid #0082ce;
  border-radius: 1rem;
}

#tableTitles li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tableTitles li input {
  background: none;
  outline: none;
  border: 3px solid #fff;
  color: #fff;
  border-radius: 1rem;
  padding: 3%;
  font-size: 1rem;
  font-weight: bold;
  width: 75%;
}

#tableTitles li input:focus {
  border: 3px solid #0082ce;
  color: #0082ce;
}

select {
  background: none;
  color: #0082ce;
  border: 2px solid #0082ce;
  outline: none;
  font-family: admin-font;
  font-weight: 100;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 1rem;
}

option {
  background-color: #000;
  font-size: 1rem;
}

.edit-data {
  width: 100%;
  height: 100%;
}

.delete-data {
  width: 100%;
  height: 100%;
}

.filter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 5%;
  margin-top: 2%;
}

.filter input {
  background: none;
  outline: none;
  border: 2px solid #0082ce;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #fff;
}

.filter button {
  font-size: 1.5rem;
  border-radius: 1rem;
  background: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: 2px solid #fff;
}

.filter button:hover {
  color: #0082ce;
  border: 2px solid #0082ce;
}

.edit-content {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 2%;
}

.update-table-container {
  height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
}

.update-table {
  width: 100%;
  height: 5rem;
  margin: auto;
  background-color: rgb(69, 69, 69);
  text-align: center;
  table-layout: fixed;
}

.update-table,
th,
td {
  border: 2px solid #0082ce;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

.table-head {
  background-color: rgb(30, 30, 30);
  color: #0082ce;
  font-size: 3vmin;
  align-items: center;
  justify-content: center;
  table-layout: fixed;
  height: 5.5vmin;
}

.update-table td {
  height: 3vmin;
}

.update-table-container::-webkit-scrollbar {
  width: 0;
}

.edit-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.edit-field ul{
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 6.9%;
  color: #fff;
  width: 100%;
  height: 100%;
}

.update-table-container tr {
  cursor: pointer;
  user-select: none;
}

.update-table-container tr:hover {
  background-color: #0082ce;
}

.edit-field input {
  padding: 0.5vmin;
  background: none;
  outline: none;
  border: 2px solid #0082ce;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #fff;
}

.edit-field button {
  width: 10%;
  padding: 1vmin;
  margin: auto;
  background: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.edit-field button:hover {
  color: #0082ce;
  border: 3px solid #0082ce;
}

.delete-content {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 2%;
}

.delete-table-container {
  height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
}

.delete-table {
  width: 100%;
  height: 5rem;
  margin: auto;
  background-color: rgb(69, 69, 69);
  text-align: center;
  table-layout: fixed;
}

.delete-table,
th,
td {
  border: 2px solid #0082ce;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

.delete-table td {
  height: 3vmin;
}

.delete-table-container::-webkit-scrollbar {
  width: 0;
}

.delete-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.delete-field ul{
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: #0082ce;
  background-color: rgb(25, 25, 25);
  width: 100%;
  height: 100%;
}

.delete-field ul li {
  border: 2px solid #0082ce;
  width: 100%;
}

.delete-field ul li p {
  margin: 1vmin;
  font-size: 2.5vmin;
}

.delete-table-container tr {
  cursor: pointer;
  user-select: none;
}

.delete-table-container tr:hover {
  background-color: #0082ce;
}

.delete-field button {
  width: 10%;
  padding: 1vmin;
  margin: auto;
  background: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.delete-field button:hover {
  color: #0082ce;
  border: 3px solid #0082ce;
}