
@font-face {
  font-family: "Pixel Font";
  src: url("./trivial.otf") format("opentype");
}

:root {
  --theme-color: #782b51;
  --accent-color: #E6C79C;
}

body {
  margin: 0;
  font-family: "Pixel Font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box;
}

code {
  font-family: "Pixel Font";
}

#mainpage{
  height: 100vh;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  margin: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-items {
  color: var(--accent-color);
  margin: 0;
  padding: 0;
  padding-right: 3vmin;
  gap: 3vmin;
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.navbar-items li {
  display: flex;
  height: 100%;
  align-items: center;
}

.btn {
  font-family: "Pixel Font";
  padding: 1vmin 5vmin;
  font-size: 2.5vmin;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--theme-color);
  border-radius: 1rem;
  color: var(--accent-color);
  cursor: pointer;
  transition: all 0.25s;
}

.btn:hover {
  color: var(--theme-color);
  scale: 1.1;
}

.navbar-items p {
  margin: 0;
  width: 15vmin;
  font-size: 2.5vmin;
  cursor: pointer;
  transition: all 0.25s;
}

.navbar-items p:hover {
  color: var(--theme-color);
  scale: 1.1;
}

.logo {
  box-sizing: border-box;
  height: 100%;
  padding: 1%;
  max-width: 50%;
}

#main-content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-image: url(bg.jpg);
  background-size: cover;
  height: 100vh;
  padding: 12vh 2vmin 2vmin 2vmin;
}

#main-content div {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 1rem;
  width: 49.5%;
  box-sizing: border-box;
}

#about-us {
  box-sizing: border-box;
  padding: 2%;
  font-size: 2.5vmin;
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#about-us-title, #login-title {
  font-size: 4vmin;
  color: var(--accent-color);
  font-weight: bold;
}

#about-us p {
  color: var(--accent-color);
  box-sizing: border-box;
  width: 80%;
  margin: 0 !important;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: transparent !important;
  align-items: center;
  height: 80% !important;
  width: 80% !important;
}

#user-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

#form-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 60%;
  justify-content: space-between;
  flex-direction: column;
  background-color: transparent !important;
  color: var(--accent-color);
  box-sizing: border-box;
}

#form-container h3 {
  box-sizing: border-box;
  font-size: 8vmin;
  margin: 0;
  margin-bottom: 5%;
  padding: 0;
  letter-spacing: 1px;
  color: var(--theme-color);
}

#form-container p {
  margin: 0;
  padding: 0;
  font-size: 3.5vmin;
}

#form-container input {
  width: 60%;
  height: 5%;
  color: var(--accent-color);
  background: none;
  outline: none;
  border: 2px solid var(--theme-color);
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 2.5vmin;
  transition: all 0.25s;
}

#form-container input:hover {
  border-color: var(--theme-color);
}

#form-container input:focus {
  border: 2px solid var(--theme-color);
}

#form-container .form-btn {
  background: rgba(0, 0, 0, 0.4);
  border: 3px solid var(--accent-color);
  border-radius: 0.5rem;
  margin: 0;
  padding: 0.5vmin 1.5vmin;
  text-align: center;
  font-family: "Pixel Font";
  font-weight: 100;
  font-size: 4vmin;
  color: var(--accent-color);
  cursor: pointer;
  transition: 0.25s all;
}

#form-container .form-btn:hover {
  border: 3px solid var(--theme-color);
  color: var(--theme-color);
}

#button-container {
  background-color: transparent !important;
  width: 80% !important;
  margin: 2vmin 0 3vmin 0;
}

#error-message {
  position: absolute;
  width: 150%;
  margin: 0;
  padding: 0.5rem 1rem;
  top: -12rem;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: var(--theme-color);
  border: 1px solid var(--accent-color);
  border-radius: 1rem;
  color: var(--accent-color);
  font-size: 3vmin;
}

.show-error {
  display: block !important;
  animation-name: showErrorMessage;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

#stats-container {
  width: 100% !important;
  background-color: transparent !important;
  height: 100%;
  color: var(--accent-color);
  padding: 2%;
}

#stats-container ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
  font-size: 2vmin;
}

#stats-container ul li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#stats-container ul li p {
  text-align: left;
}

@keyframes showErrorMessage {
  0% {opacity: 0;}
  12% {opacity: 1;}
  88% {opacity: 1;}
  100% {opacity: 0;}
}

@media (max-width: 1200px) {
  #main-content {
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  #main-content div {
    width: 100%;
    height: 48%;
  }

  #form-container {
    height: 100% !important;
  }

  #button-container {
    height: 10% !important;
  }

  #error-message {
    width: 80%;
    top:10%;
  }
}