
@font-face {
  font-family: "Pixel Font";
  src: url("./trivial.otf") format("opentype");
}

:root {
  --theme-color: #782b51;
  --accent-color: #E6C79C;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Pixel Font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box;
}

code {
  font-family: "Pixel Font";
}

#mainpage{
  height: 100vh;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  margin: 0;
  width: 100vw;
  height: 10vmin;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-items {
  color: var(--accent-color);
  margin: 0;
  padding: 0;
  padding-right: 3vmin;
  gap: 3vmin;
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.navbar-items li {
  display: flex;
  height: 100%;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 7vmin;
  height: 4vmin;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--accent-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  border-color: var(--theme-color);
}

.slider:before {
  position: absolute;
  content: "";
  color: var(--accent-color);
  height: 3vmin;
  width: 3vmin;
  top: 50%;
  left: 4%;
  transform: translateY(-1.5vmin);
  font-size: 2vmin;
  background-color: var(--accent-color);
  transition: .25s all;
}

input:checked + .slider::before {
  background-color: var(--theme-color);
  content: "✔";
  text-align: center;
  transform: translateX(3vmin) translateY(-50%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1rem;
}

.slider.round:before {
  border-radius: 50%;
}

#admin-confirm-button {
  width: 20vmin;
  padding: 1vmin 0 !important;
  margin: 1vmin 0;
}

.btn, #admin-confirm-button {
  font-family: "Pixel Font";
  padding: 1vmin 5vmin;
  font-size: 2.5vmin;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--theme-color);
  border-radius: 1rem;
  color: var(--accent-color);
  cursor: pointer;
  transition: all 0.25s;
}

.btn:hover, #admin-confirm-button:hover {
  color: var(--theme-color);
  scale: 1.1;
}

.navbar-links {
  font-family: "Pixel Font";
  margin: 0;
  font-size: 2.5vmin;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--accent-color);
  transition: all 0.25s;
  position: relative;
}

.navbar-links:hover {
  color: var(--theme-color);
  scale: 1.1;
}

.logo {
  background-image: url('LearnTheBasics.svg');
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  position: relative;
  left: 5vmin;
  top: 50%;
  transform: translateY(-50%);
  height: 8vmin;
  width: 100%;
}

#main-content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-image: url(bg.jpg);
  background-size: cover;
  height: 100vh;
  padding: 12vh 2vmin 2vmin 2vmin;
}

#admin-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-image: url(bg.jpg);
  background-size: cover;
  height: 100vh;
}

#admin-content {
  box-sizing: border-box;
  margin: 12vmin auto 0 auto;
  height: 86vh;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#admin-title {
  margin: 0 auto;
  font-size: 5vmin;
  color: var(--accent-color);
} 

#admin-table {
  display: block;
  border-radius: 1rem;
  box-sizing: border-box;
  border: 0.5vmin solid var(--theme-color);
  color: var(--accent-color);
  height: 65vmin;
  width: 80%;
  overflow-y: scroll;
  overflow-x: scroll;
  border-spacing: 0;
}

#admin-table::-webkit-scrollbar {
  display: none;
}

#admin-table tbody tr td {
  border-bottom: 0.25vmin solid var(--theme-color);
  padding: 1vmin;
}

#admin-table td {
  width: calc(100%/12);
}

#admin-table thead {
  position: relative;
  font-weight: bold;
  font-size: 2vmin;
}

#admin-table thead tr td {
  padding: 1vmin;
}


#admin-table thead::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.5vmin;
  background-color: var(--theme-color);
}

#admin-table td:not(:first-child) {
  border-left: 0.25vmin solid var(--theme-color);
}

#admin-table tbody tr {
  transition: 0.25s all;
  cursor: pointer;
  user-select: none;
}

#admin-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/*
#admin-table {
  height: 65vh !important;
  width: 85% !important;
  border-radius: 1rem;
  border: 0.5vmin solid var(--theme-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--accent-color);
}




#admin-table tr {
  display: flex;
  justify-content: space-evenly;
}

#admin-table td {
  white-space: nowrap;
  overflow-x: scroll;
  box-sizing: content-box;
  padding: 1vmin 0;
  position: relative;
}



#admin-table td::-webkit-scrollbar {
  display: none;
}

#admin-table td:not(:first-child) {
  box-sizing: content-box;
  padding: 1vmin 0;
  position: relative;
  flex: 1 1 auto;
  min-width: 0;
  border-left: 0.25vmin solid var(--theme-color);
}

#admin-table::-webkit-scrollbar {
  display: none;
}
*/

#admin-filters {
  display: flex;
  justify-content: space-evenly;
  column-gap: 3vw;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}

#admin-filters li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

#admin-filters li p {
  color: var(--accent-color);
  font-size: 2.5vmin;
  margin-right: 1vmin;
}

.generated-data p {
  font-size: 2vmin !important;
  position: relative;
}

.generated-data input {
  background-color: transparent;
  outline: none;
  border: 0.25vmin solid var(--accent-color);
  border-radius: 1rem;
  padding: 0.5vmin 1vmin;
  color: var(--accent-color);
  font-size: 2vmin;
  width: 15vmin;
  transition: 0.25s all;
}

.generated-data input:focus {
  border: 0.25vmin solid var(--theme-color);
  color: var(--theme-color);
}

.generated-data input:disabled {
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
}

.generated-data:has(input:disabled) p::after {
  position: absolute;
  content: "";
  top: 50%;
  margin-left: 2vmin;
  left: fit-content;
  transform: translateY(-50%) ;
  width: 15vmin;
  height: 0.3vmin;
  border-radius: 1rem;
  background-color: var(--theme-color);
}

#table-select {
  cursor: pointer;
  background: none;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 1rem;
  padding: 1vmin;
  font-size: 2vmin;
  outline: none;
  transition: 0.25s all;
}

#table-select:focus {
  color: var(--theme-color);
  border-color: var(--theme-color);
}

#activated {
  color: var(--theme-color) !important;
}

#activated::after {
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 0.3vmin;
  background-color: var(--theme-color);
  transition: 0.25s all;
}

#main-content div {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 1rem;
  width: 49.5%;
  box-sizing: border-box;
}

#about-us {
  box-sizing: border-box;
  padding: 2%;
  font-size: 2.5vmin;
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#about-us-title, #login-title {
  font-size: 4vmin;
  color: var(--accent-color);
  font-weight: bold;
}

#about-us p {
  color: var(--accent-color);
  box-sizing: border-box;
  width: 80%;
  margin: 0 !important;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: transparent !important;
  align-items: center;
  height: 80% !important;
  width: 80% !important;
}

#user-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

#form-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 60%;
  justify-content: space-between;
  flex-direction: column;
  background-color: transparent !important;
  color: var(--accent-color);
  box-sizing: border-box;
}

#form-container h3 {
  box-sizing: border-box;
  font-size: 8vmin;
  margin: 0;
  margin-bottom: 5%;
  padding: 0;
  letter-spacing: 1px;
  color: var(--theme-color);
}

#form-container p {
  margin: 0;
  padding: 0;
  font-size: 3.5vmin;
}

#form-container input {
  width: 60%;
  height: 5%;
  color: var(--accent-color);
  background: none;
  outline: none;
  border: 2px solid var(--theme-color);
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 2.5vmin;
  transition: all 0.25s;
}

#form-container input:hover {
  border-color: var(--theme-color);
}

#form-container input:focus {
  border: 2px solid var(--theme-color);
}

#form-container .form-btn {
  background: rgba(0, 0, 0, 0.4);
  border: 3px solid var(--accent-color);
  border-radius: 0.5rem;
  margin: 0;
  padding: 0.5vmin 1.5vmin;
  text-align: center;
  font-family: "Pixel Font";
  font-weight: 100;
  font-size: 4vmin;
  color: var(--accent-color);
  cursor: pointer;
  transition: 0.25s all;
}

#form-container .form-btn:hover {
  border: 3px solid var(--theme-color);
  color: var(--theme-color);
}

#button-container {
  background-color: transparent !important;
  width: 80% !important;
  margin: 2vmin 0 3vmin 0;
}

#error-message {
  position: absolute;
  width: 150%;
  margin: 0;
  padding: 0.5rem 1rem;
  top: -12rem;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: var(--theme-color);
  border: 1px solid var(--accent-color);
  border-radius: 1rem;
  color: var(--accent-color);
  font-size: 3vmin;
}

.show-error {
  display: block !important;
  animation-name: showErrorMessage;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

#stats-container {
  width: 100% !important;
  background-color: transparent !important;
  height: 100%;
  color: var(--accent-color);
  padding: 2%;
}

#stats-container ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  font-size: 2vmin;
}

#stats-container ul li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#stats-container ul li p {
  text-align: left;
}

#admin-container {
  height: 100vh;
}

@keyframes showErrorMessage {
  0% {opacity: 0;}
  12% {opacity: 1;}
  88% {opacity: 1;}
  100% {opacity: 0;}
}

@media (max-width: 1200px) {
  #main-content {
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  #main-content div {
    width: 100%;
    height: 48%;
  }

  #form-container {
    height: 100% !important;
  }

  #button-container {
    height: 10% !important;
  }

  #error-message {
    width: 80%;
    top:10%;
  }

  .logo {
    background-image: url('LearnTheBasicsLogo.svg');
  }
}