<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /learnthebasics/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /learnthebasics/index.html [L]
</IfModule>