:root {
  --mobile-vis: unset;
  --theme-color: #4b43ee;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mobile {
  display: var(--mobile-vis);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.main-menu {
  height: 100%;
  background-image: url("assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.main-menu h1 {
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 5rem;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 3rem;
  letter-spacing: 2px;
  pointer-events: none;
}

#user-icon {
  pointer-events: all !important;
  background: none;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: fit-content;
  column-gap: 0.5rem;
  height: 2.5rem;
  left: 2rem;
  top: 1.5rem;
  background-color: none;
  border: none;
}

#user-icon svg {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  border-radius: 100%;
}

#user-icon p {
  font-style: italic;
  letter-spacing: 1px;
  font-weight: 100;
  color: black;
}

.main-menu button {
  cursor: pointer;
  z-index: 1;
  width: 15rem;
  border: 4px solid #fff;
  border-left: none;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
  color: white;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 900;
  margin: 0.5rem 0 0.5rem -4rem;
  text-align: right;
  transition: margin cubic-bezier(0.7, 0.11, 0.62, 1.48) 0.25s;
  font-family: "Pixel Font" !important;
  letter-spacing: 1px;
  cursor: pointer;
}

#darken-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  position: absolute;
  top: 0;
}
.main-menu button:hover {
  margin-left: -1rem;
}

.save-container {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5rem;
  align-items: center;
}

.save-item {
  position: relative;
  width: 22%;
  height: 35rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 1.25rem;
  border: 5px solid black;
  margin-bottom: 10rem;
  color: #fff;
}

#save-item1 {
  background: #a59265;
}

#save-item2 {
  background: #74caa6;
}

#save-item3 {
  background: #716ccb;
}

.grid-item {
  width: 90%;
  border: black 3px solid;
  border-radius: 1.25rem;
  margin: auto;
  height: 85%;
}

.save-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.save-bottom p {
  font-size: 2rem;
  margin: 0;
}

#save-item1 .save-bottom {
  border-color: #e6cd92;
}

#save-item1 .save-top {
  border-color: #e6cd92;
}

#playtime {
  color: lightgray;
  font-size: 1.5rem;
  padding-top: 2rem;
}

.save-top {
  display: flex;
}

#langs {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 3rem;
  padding: 0;
  border-right: 3px solid #e6cd92;
}

#langs p {
  margin: 0;
}

#config {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  font-size: 1.5rem;
}

#config p {
  margin: 0;
}

#html {
  color: orange;
}

#css {
  color: blue;
}

#js {
  color: yellow;
}

.locked-lang {
  color: gray !important;
}

#save-back-button {
  position: absolute;
  bottom: 4rem;
  transform: translateX(-50%);
  left: 50%;
  z-index: 11;
  width: 10rem;
  border: 4px solid #fff;
  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 900;
  margin: 0.5rem 0 0.5rem;
  font-family: "Pixel Font" !important;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.25s;
}

#save-back-button:hover {
  color: #c1c1c1;
  border: 4px solid #c1c1c1;
}

.empty-save {
  display: block;
}

.empty-save-base {
  display: none;
}

.empty-save > * {
  display: none;
}

.empty-save .empty-save-base {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 4rem;
  flex-direction: column;
}

.empty-save .empty-save-base p {
  margin: 2rem 0;
}

.empty-save .empty-save-base p:last-child {
  color: #c1c1c1;
}

.delete-button {
  top: 5rem;
  position: absolute;
  width: 3rem;
  aspect-ratio: 1/1;
  background: none;
  border: none;
}

.delete-button img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

#delete-button1 {
  left: 12rem;
}

#delete-button2 {
  left: 44rem;
}

#delete-button3 {
  left: 76rem;
}

.slide-left {
  animation: slideLeft 1s ease-in-out forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide-up {
  animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/*

Room

*/

#exit-game-button {
  transition: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  color: black;
  margin: 0;
  width: 2rem;
  height: 2rem;
}

#exit-game-button:hover {
  margin: 0;
}

#monitor {
  position: absolute;
  top: 12rem;
  left: 34rem;
  width: 38.5rem;
  height: 23.5rem;
}

#monitor:hover {
  border: 5px dashed black;
}

#login-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

#login-page, #register-page {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-btn, #register-btn {
  text-decoration: underline;
}

#login-btn:hover, #register-btn:hover {
  color: var(--theme-color);
  cursor: pointer;
}

#form-container {
  width: 15%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  row-gap: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 2px solid var(--theme-color);
  border-radius: 1rem;
  padding: 1% 0;
}

#form-container h1 {
  font-size: 8vmin;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  color: var(--theme-color);
}

#form-container p {
  margin: 0;
  padding: 0;
  font-size: 3.5vmin;
}

#form-container input {
  width: 80%;
  height: 5%;
  color: white;
  background: none;
  outline: none;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 2vmin;
}

#form-container input:focus {
  border: 2px solid var(--theme-color);
}

#form-container .form-btn {
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #fff;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0 0.5rem;
  width: fit-content;
  height: 2rem;
  text-align: center;
  font-weight: 100;
  font-size: 1.5rem;
}

#form-container .form-btn:hover {
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
}

#button-container p {
  font-size: 1rem !important;
}

#error-message {
  position: absolute;
  width: fit-content;
  padding: 0.5rem 1rem;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background-color: rgba(255, 0, 0, 0.6);
  border: 1px solid white;
  border-radius: 1rem;
  color: white;
  font-size: 3vmin;
}

.show-error {
  animation-name: showErrorMessage;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showErrorMessage {
  0% {top: -5rem;}
  10% {top: 0}
  90% {top: 0;}
  100% {top: -5rem;}
}

.close-image {
  position: absolute;
  top: 25%;
  right: 40%;
  margin: 0;
  padding: 0;
  width: 4vmin;
  aspect-ratio: 1/1;
}

/*

Computer

*/

#desktop {
  background-image: url("./assets/bg.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: -31rem -14rem;
  background-size: 222rem;
}

/*
POLISH IDEAS:

Save items float up (staggered)
 - background darkens first
 - save files appear
 - back button slides up

On load
 - title and buttosn slide in

 Monitor zoom

*/
