:root {
  --mobile-vis: unset;
  --theme-color: #782b51;
  --accent-color: #E6C79C;
}

/*
888b     d888  .d88888b.  888888b.  8888888 888      8888888888 
8888b   d8888 d88P" "Y88b 888  "88b   888   888      888        
88888b.d88888 888     888 888  .88P   888   888      888        
888Y88888P888 888     888 8888888K.   888   888      8888888    
888 Y888P 888 888     888 888  "Y88b  888   888      888        
888  Y8P  888 888     888 888    888  888   888      888        
888   "   888 Y88b. .d88P 888   d88P  888   888      888        
888       888  "Y88888P"  8888888P" 8888888 88888888 8888888888
*/

.mobile {
  display: var(--mobile-vis);
}

/*
8888888b.  8888888888 .d8888b.  888    d8P 88888888888 .d88888b.  8888888b.  
888  "Y88b 888       d88P  Y88b 888   d8P      888    d88P" "Y88b 888   Y88b 
888    888 888       Y88b.      888  d8P       888    888     888 888    888 
888    888 8888888    "Y888b.   888d88K        888    888     888 888   d88P 
888    888 888           "Y88b. 8888888b       888    888     888 8888888P"  
888    888 888             "888 888  Y88b      888    888     888 888        
888  .d88P 888       Y88b  d88P 888   Y88b     888    Y88b. .d88P 888        
8888888P"  8888888888 "Y8888P"  888    Y88b    888     "Y88888P"  888        
*/
.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-container {
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

.main-menu {
  height: 100%;
  background-image: url("assets/bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title-text1, #title-text2, #title-text3 {
  text-align: center;
  position: absolute;
  z-index: 1;
  font-size: 5rem;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 75%;
  transform: translateY(-50%);
  letter-spacing: 2px;
  pointer-events: none;
  /*-webkit-text-stroke: 0.5px white;*/
  color: var(--accent-color);
  -webkit-text-stroke: 1px black;
}

#title-text1 {
  top: 25%;
}

#title-text2 {
  top: 32.5%;
}

#title-text3 {
  top: 40%;
}


.button-container button {
  cursor: pointer;
  z-index: 1;
  width: 30vmin;
  height: fit-content;
  border: 5px solid var(--accent-color);
  border-left: none;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
  color: var(--accent-color);
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 900;
  margin: 0.5rem 0 0.5rem -4rem;
  text-align: right;
  transition: margin cubic-bezier(0.7, 0.11, 0.62, 1.48) 0.25s, border 0.25s, box-shadow 0.25s, color 0.25s;
  font-family: "Pixel Font" !important;
  letter-spacing: 1px;
  cursor: pointer;
}

#darken-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  position: absolute;
  top: 0;
}
.button-container button:hover {
  margin-left: -1rem;
  border: 5px solid var(--theme-color);
  color: var(--theme-color);
  box-shadow: 10px 10px 10px rgb(10, 10, 10);
}

/*------------------------------------------------------------*/


.glitch {
  position: relative;
  font-size: 49px;
  font-weight: bold;
  color: #E6C79C;
  letter-spacing: 3px;
  z-index: 1;
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  color: #f19559;
  top: 0;
  left: -2px;
  width: 100%;
  color: 49px;
  background-color: #00000000;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  color: #f19559;
  top: 0;
  left: 2px;
  width: 100%;
  color: 49px;
  background-color: #00000000;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
  0% {
     clip: rect(61px, 9999px, 52px, 0);
  }
  5% {
     clip: rect(33px, 9999px, 144px, 0);
  }
  10% {
     clip: rect(121px, 9999px, 115px, 0);
  }
  15% {
     clip: rect(144px, 9999px, 162px, 0);
  }
  20% {
     clip: rect(62px, 9999px, 180px, 0);
  }
  25% {
     clip: rect(34px, 9999px, 42px, 0);
  }
  30% {
     clip: rect(147px, 9999px, 179px, 0);
  }
  35% {
     clip: rect(99px, 9999px, 63px, 0);
  }
  40% {
     clip: rect(188px, 9999px, 122px, 0);
  }
  45% {
     clip: rect(154px, 9999px, 14px, 0);
  }
  50% {
     clip: rect(63px, 9999px, 37px, 0);
  }
  55% {
     clip: rect(161px, 9999px, 147px, 0);
  }
  60% {
     clip: rect(109px, 9999px, 175px, 0);
  }
  65% {
     clip: rect(157px, 9999px, 88px, 0);
  }
  70% {
     clip: rect(173px, 9999px, 131px, 0);
  }
  75% {
     clip: rect(62px, 9999px, 70px, 0);
  }
  80% {
     clip: rect(24px, 9999px, 153px, 0);
  }
  85% {
     clip: rect(138px, 9999px, 40px, 0);
  }
  90% {
     clip: rect(79px, 9999px, 136px, 0);
  }
  95% {
     clip: rect(25px, 9999px, 34px, 0);
  }
  100% {
     clip: rect(173px, 9999px, 166px, 0);
  }
}

@keyframes noise-after {
  0% {
     clip: rect(26px, 9999px, 33px, 0);
  }
  5% {
     clip: rect(140px, 9999px, 198px, 0);
  }
  10% {
     clip: rect(184px, 9999px, 89px, 0);
  }
  15% {
     clip: rect(121px, 9999px, 6px, 0);
  }
  20% {
     clip: rect(181px, 9999px, 99px, 0);
  }
  25% {
     clip: rect(154px, 9999px, 133px, 0);
  }
  30% {
     clip: rect(134px, 9999px, 169px, 0);
  }
  35% {
     clip: rect(26px, 9999px, 187px, 0);
  }
  40% {
     clip: rect(147px, 9999px, 137px, 0);
  }
  45% {
     clip: rect(31px, 9999px, 52px, 0);
  }
  50% {
     clip: rect(191px, 9999px, 109px, 0);
  }
  55% {
     clip: rect(74px, 9999px, 54px, 0);
  }
  60% {
     clip: rect(145px, 9999px, 75px, 0);
  }
  65% {
     clip: rect(153px, 9999px, 198px, 0);
  }
  70% {
     clip: rect(99px, 9999px, 136px, 0);
  }
  75% {
     clip: rect(118px, 9999px, 192px, 0);
  }
  80% {
     clip: rect(1px, 9999px, 83px, 0);
  }
  85% {
     clip: rect(145px, 9999px, 98px, 0);
  }
  90% {
     clip: rect(121px, 9999px, 154px, 0);
  }
  95% {
     clip: rect(156px, 9999px, 44px, 0);
  }
  100% {
     clip: rect(67px, 9999px, 122px, 0);
  }
}



/*
888      .d88888b.   .d8888b.  8888888 888b    888 
888     d88P" "Y88b d88P  Y88b   888   8888b   888 
888     888     888 888    888   888   88888b  888 
888     888     888 888          888   888Y88b 888 
888     888     888 888  88888   888   888 Y88b888 
888     888     888 888    888   888   888  Y88888 
888     Y88b. .d88P Y88b  d88P   888   888   Y8888 
88888888 "Y88888P"   "Y8888P88 8888888 888    Y888
*/
#user-icon {
  font-family: "Pixel Font" !important;
  pointer-events: all !important;
  background: none;
  position: absolute;
  color: var(--accent-color);
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 1%;
  cursor: pointer;
  background-color: none;
  font-size: 2.5vmin;
  border-radius: 5rem;
  border: 4px solid transparent;
  transition: all 0.25s;
}

#user-icon:hover {
  background: rgba(0, 0, 0, 0.75);
  border: 4px solid var(--theme-color);
  color: var(--theme-color);
  box-shadow: 10px 5px 10px black;
}

#user-icon:hover svg {
  border: 2px solid var(--theme-color);
}

#user-icon svg {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--accent-color);
  transition: border 0.25s;
  border-radius: 100%;
}

#user-icon p {
  font-style: italic;
  letter-spacing: 1px;
  font-weight: 100;
  margin: 0;
}

#login-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

#login-page, #register-page {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-btn, #register-btn {
  text-decoration: underline;
}

#login-btn:hover, #register-btn:hover {
  color: var(--theme-color);
  cursor: pointer;
}

#form-container {
  width: 15%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  row-gap: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--accent-color);
  border: 2px solid var(--theme-color);
  border-radius: 1rem;
  padding: 1% 0;
}

#form-container h1 {
  font-size: 8vmin;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  color: var(--theme-color);
}

#form-container p {
  margin: 0;
  padding: 0;
  font-size: 3.5vmin;
}

#form-container input {
  width: 80%;
  height: 5%;
  color: var(--accent-color);
  background: none;
  outline: none;
  border: 2px solid var(--accent-color);
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 2vmin;
}

#form-container input:focus {
  border: 2px solid var(--theme-color);
}

#form-container .form-btn {
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #fff;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0 0.5rem;
  width: fit-content;
  height: 2rem;
  text-align: center;
  font-weight: 100;
  font-size: 1.5rem;
  color: #fff;
}

#form-container .form-btn:hover {
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
}

#button-container p {
  font-size: 1rem !important;
}

#error-message {
  position: absolute;
  width: fit-content;
  margin: 0;
  padding: 0.5rem 1rem;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background-color: rgba(255, 0, 0, 0.6);
  border: 1px solid white;
  border-radius: 1rem;
  color: white;
  font-size: 3vmin;
}

.close-image {
  position: absolute;
  cursor: pointer;
  top: 25%;
  right: 40%;
  margin: 0;
  padding: 0;
  width: 4vmin;
  aspect-ratio: 1/1;
}

/*
 .d8888b.        d8888 888     888 8888888888 .d8888b.        d8888 8888888b.  8888888b.   .d8888b.  
d88P  Y88b      d88888 888     888 888       d88P  Y88b      d88888 888   Y88b 888  "Y88b d88P  Y88b 
Y88b.          d88P888 888     888 888       888    888     d88P888 888    888 888    888 Y88b.      
 "Y888b.      d88P 888 Y88b   d88P 8888888   888           d88P 888 888   d88P 888    888  "Y888b.   
    "Y88b.   d88P  888  Y88b d88P  888       888          d88P  888 8888888P"  888    888     "Y88b. 
      "888  d88P   888   Y88o88P   888       888    888  d88P   888 888 T88b   888    888       "888 
Y88b  d88P d8888888888    Y888P    888       Y88b  d88P d8888888888 888  T88b  888  .d88P Y88b  d88P 
 "Y8888P" d88P     888     Y8P     8888888888 "Y8888P" d88P     888 888   T88b 8888888P"   "Y8888P"  
*/

.save-container {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.save-item {
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 1.25rem;
  border: 5px solid var(--accent-color);
  color: var(--accent-color);
  background: linear-gradient(
    rgb(0, 0, 0) 0%,
    var(--theme-color) 100%
  );
}

.grid-item {
  width: 90%;
  border: black 3px solid;
  border-radius: 1.25rem;
  margin: auto;
  height: 85%;
}

.save-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.save-bottom p {
  font-size: 2rem;
  margin: 0;
}

#save-item1 .save-bottom {
  border-color: #e6cd92;
}

#save-item1 .save-top {
  border-color: #e6cd92;
}

#playtime {
  color: lightgray;
  font-size: 1.5rem;
  padding-top: 2rem;
}

.save-top {
  display: flex;
}

#langs {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 3rem;
  padding: 0;
  border-right: 3px solid #e6cd92;
}

#langs p {
  margin: 0;
}

#config {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  font-size: 1.5rem;
}

#config p {
  margin: 0;
}

#config p span{
  color: #fff;
}

#html,#css,#js {
  color: var(--accent-color);
}

.locked-lang {
  color: #696969 !important;
}

#save-back-button {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 2%;
  right: 2%;
  z-index: 11;
  height: 10vmin;
  border: 4px solid #fff;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 2rem;
  font-family: "Pixel Font" !important;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.25s;
}

#save-back-button:hover {
  border: 4px solid var(--theme-color);
}

.empty-save {
  display: block;
}

.empty-save-base {
  display: none;
}

.empty-save > * {
  display: none;
}

.empty-save .empty-save-base {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 4vmin;
  flex-direction: column;
}

.empty-save .empty-save-base p {
  margin: 2rem 0;
}

.empty-save .empty-save-base p:last-child {
  color: #696969;
}

.delete-button {
  align-self: center;
  width: 33%;
  background: none;
  position: relative;
  border: none;
  transition: 0.2s color;
  cursor: pointer;
  color: white;
}

.delete-button span {
  -webkit-text-stroke: 2px black;
  font-size: 5.5vmin;
  font-weight: bold;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.delete-button:hover {
  color: var(--accent-color) !important;
}

.save-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  gap: 0;
}

/*
       d8888 888b    888 8888888 888b     d888        d8888 88888888888 8888888 .d88888b.  888b    888  .d8888b.  
      d88888 8888b   888   888   8888b   d8888       d88888     888       888  d88P" "Y88b 8888b   888 d88P  Y88b 
     d88P888 88888b  888   888   88888b.d88888      d88P888     888       888  888     888 88888b  888 Y88b.      
    d88P 888 888Y88b 888   888   888Y88888P888     d88P 888     888       888  888     888 888Y88b 888  "Y888b.   
   d88P  888 888 Y88b888   888   888 Y888P 888    d88P  888     888       888  888     888 888 Y88b888     "Y88b. 
  d88P   888 888  Y88888   888   888  Y8P  888   d88P   888     888       888  888     888 888  Y88888       "888 
 d8888888888 888   Y8888   888   888   "   888  d8888888888     888       888  Y88b. .d88P 888   Y8888 Y88b  d88P 
d88P     888 888    Y888 8888888 888       888 d88P     888     888     8888888 "Y88888P"  888    Y888  "Y8888P"
*/
.crt {
  width: 100vw;
  height: 200vh;
  background-image: linear-gradient(
    #000000,
    var(--theme-color)
  );
  background-repeat: repeat;
  background-size: 100vw 50vh;
  transform: scaleY(200%);
  filter: opacity(0.4) brightness(0.5);
  animation: bgscroll 1.25s linear infinite;
}

.slide-left {
  animation: slideLeft 1s ease-in-out forwards;
}

@keyframes bgscroll {
  100% {
    background-position: 0% 100%;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide-up {
  animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.show-error {
  animation-name: showErrorMessage;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showErrorMessage {
  0% {top: -5rem}
  10% {top: 2rem}
  90% {top: 2rem}
  100% {top: -5rem}
}

/*
8888888b.   .d88888b.   .d88888b.  888b     d888 
888   Y88b d88P" "Y88b d88P" "Y88b 8888b   d8888 
888    888 888     888 888     888 88888b.d88888 
888   d88P 888     888 888     888 888Y88888P888 
8888888P"  888     888 888     888 888 Y888P 888 
888 T88b   888     888 888     888 888  Y8P  888 
888  T88b  Y88b. .d88P Y88b. .d88P 888   "   888 
888   T88b  "Y88888P"   "Y88888P"  888       888 
*/

#exit-game-button {
  transition: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  color: black;
  margin: 0;
  width: 2rem;
  height: 2rem;
}

#exit-game-button:hover {
  margin: 0;
}

#monitor {
  position: absolute;
  top: 12rem;
  left: 34rem;
  width: 38.5rem;
  height: 23.5rem;
}

#monitor:hover {
  border: 5px dashed black;
}

/*
888b     d888  .d88888b.  888b    888 8888888 88888888888 .d88888b.  8888888b.  
8888b   d8888 d88P" "Y88b 8888b   888   888       888    d88P" "Y88b 888   Y88b 
88888b.d88888 888     888 88888b  888   888       888    888     888 888    888 
888Y88888P888 888     888 888Y88b 888   888       888    888     888 888   d88P 
888 Y888P 888 888     888 888 Y88b888   888       888    888     888 8888888P"  
888  Y8P  888 888     888 888  Y88888   888       888    888     888 888 T88b   
888   "   888 Y88b. .d88P 888   Y8888   888       888    Y88b. .d88P 888  T88b  
888       888  "Y88888P"  888    Y888 8888888     888     "Y88888P"  888   T88b
*/

#desktop {
  background-image: url("./assets/bg.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: -31rem -14rem;
  background-size: 222rem;
}

/*
POLISH IDEAS:

Save items float up (staggered)
 - background darkens first
 - save files appear
 - back button slides up

On load
 - title and buttosn slide in

 Monitor zoom

*/
