:root {
  user-select: none !important;
  height: 100%;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Pixel Font" !important;
}

@font-face {
  font-family: "Pixel Font";
  src: url("assets/dpcomic.ttf") format("truetype");
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-family: "Pixel Font" !important;
}
